<a href="https://colab.research.google.com/github/Clary-092/MMDT_2025_PY101/blob/main/Copy_of_Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(len("My name is python"))

17

In [ ]:
paragraph = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = paragraph.lower().count("python")
print("Python appears {} times".format(count))

Python appears 2 times

In [ ]:
ls1 = ["apple","banana","cherry"]
ls2 = ["apple", "banana","cherry","apple","cherry"]
print (len (ls1+ls2))

8

In [ ]:
my_dict ={'Name':['Myo','Thida'],'Age':[32,64]}
print(my_dict)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

In [ ]:
set1 = {'Name',"age","Height"}
set2 = {"Name", "status", "Education"}
set3 =set1.union(set2)
print (set3, "\n The number of elements in set3 is {}".format (len(set3)))

{'age', 'Name', 'Education', 'status', 'Height'}
 The number of elements in set3 is 5

In [ ]:
string1 =input ("Enter a string:")
string2 = string1.replace(string1[1],'*')
new_string = string2 +'!!!'
print (new_string)

Enter a string:Love
L*ve!!!

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_string = s.lower().replace(",","").replace(";","").replace(".","").replace("-","").replace(":","")
print(new_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

In [ ]:
from random import randint
L1 = list (range (1,101))
L2 = L1.copy()
L2.remove (randint (1,101))
print (set(L1).difference(set(L2)))

{88}

In [ ]:
ls1 = ["apple","banana","cherry"]
ls2 = ls1.copy()
ls2.append("blueberry")
print ('original:',ls1)
print ('new list:',ls2)

original: ['apple', 'banana', 'cherry']
new list: ['apple', 'banana', 'cherry', 'blueberry']